*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
background:#f4f6fa;
}

.navbar{
background:#1e3c72;
color:white;
padding:16px;
display:flex;
justify-content:space-between;
align-items:center;
}

.logout{
color:white;
text-decoration:none;
}

.staff-container{
max-width:700px;
margin:auto;
padding:20px;
}

.complaint-card{
background:white;
padding:15px;
margin-bottom:15px;
border-radius:10px;
box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.loading-msg{
text-align:center;
color:gray;
}
/* Dark Mode */
.dark {
  background: #121212;
  color: white;
}

.dark .navbar {
  background: #000;
}

.dark .welcome-card,
.dark .action-card,
.dark .recent-list,
.dark .complaint-card,
.dark .stats-card {
  background: #1e1e1e;
  color: white;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark p,
.dark span,
.dark div {
  color: white;
}

#themeBtn {
  border: none;
  background: transparent;
  font-size: 22px;
  cursor: pointer;
}
